.slider{
    display: flex;
    align-items: center;
    min-height: 80vh;
    max-width: 100%;
    gap:40px;
    padding: 0px 4px;
    

    .swiper {
        width: 100%;
    }
    
    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active {
        background: rgb(8, 36, 68);
        width: 10px;
        height: 10px;

        body.dark &{
            background-color: #fff;
        }
    }
    
    .swiper-pagination {
        transform: scale(1.3);
    }

    .swiper-slide {
        height: 320px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    
    
    .swiper-slide div {
        transition: 0.25s;
        opacity: 0;
    }
    
    .swiper-slide-active div {
        opacity: 1;
    }
    
    .swiper-slide--one {
        background: 
        url("../Imagen/ellos.jpg") no-repeat 50% 50% / 120% 100%;
    }
    
    .swiper-slide--two {
        background:
        url("../Imagen/consultorio.jpg") no-repeat 50% 50% / 120% 100%;
    }
    
    .swiper-slide--three {
        background: 
        url("../Imagen/gym.jpg") no-repeat 50% 50% / 120% 100%;
    }

    .swiper-slide--four {
        background: 
        url("../Imagen/yoga3.jpg") no-repeat 50% 50% / 120% 100%;
    }

    .swiper-slide--five {
        background: 
        url("../Imagen/consul2.jpg") no-repeat 50% 50% / 120% 100%;
    }

    .swiper-slide--six {
        background: 
        url("../Imagen/yoga4.jpg") no-repeat 50% 50% / 120% 100%;
    }
        
    .swiper-3d .swiper-slide-shadow-left,
    .swiper-3d .swiper-slide-shadow-right {
        background-image: none;
    }

    .swiper-button-prev,
        .swiper-button-next{
            display: none;
        }
}

@media only screen and (min-width:800px) {

    .slider{
        min-height: 120vh;
        margin: 0 auto;
        padding: 12px 0px;
        .swiper {
            width: 80%;
        }
        .swiper-slide {
            height: 450px;
        }

            
    
        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: background-color 0.3s;
        }

        .swiper-button-prev:hover,
        .swiper-button-next:hover {
            background-color: rgba(0, 0, 0, 0.8);
            color: #f3f2f2;
        }

        .swiper-button-prev::before,
        .swiper-button-next::before {
        display: none;
        }

    }

}
