.slider{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 40px 20px;
    min-height: 48vh;
    margin: 0 auto;
    

    .swiper {
        width: 100%;
    }
    
    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active {
        background: rgb(8, 36, 68);
        width: 20px;
        height: 20px;

        body.dark &{
            background-color: #fff;
        }
    }
    
    .swiper-pagination {
        transform: scale(1.3);
    }

    .swiper-slide {
        height: 620px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        padding: 0 0 80px;
    }
    

    
    .swiper-slide div {
        transition: 0.25s;
        opacity: 0;
    }
    
    .swiper-slide-active div {
        opacity: 1;
    }
    
    .swiper-slide--one {
        background: 
        url("../Imagen/consultorio.jpg") no-repeat 50% 50% / cover;
    }
    
    .swiper-slide--two {
        background:
        url("../Imagen/ellos.jpg") no-repeat 50% 50% / cover;
    }
    
    .swiper-slide--three {
        background: 
        url("../Imagen/gym.jpg") no-repeat 50% 50% / cover;
    }

    .swiper-slide--four {
        background: 
        url("../Imagen/vita.png") no-repeat 50% 50% / cover;
    }
        
    .swiper-3d .swiper-slide-shadow-left,
    .swiper-3d .swiper-slide-shadow-right {
        background-image: none;
    }
    
    
}
