footer{
    padding: 90px 0px;
    background-color: rgb(8, 36, 68);
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap ;

    
    body.dark & {
        color: $h2a;
        background-color: $dark;
        border-top: 1px solid #fff;
    }
}

.contacto a {
    padding: 8px;
    color: #fff;
    font-size: 2.1rem;

    body.dark & {
        color: $h2a;
    }


    &:hover{
        transition: .6s;
        color:rgb(241,31,24);
        cursor: pointer;
    }
}

.contacto li{
    padding: 20px;
}

.contacto i{
    color: #fff;
    height: 30px;
    margin: 0px 0px 20px 0px;

    font-size: 2.1em;

    body.dark & {
        color: $h2a;
    }
}


.grupo-2{
    background-color: rgb(8, 36, 68);
    text-align: center;
    border-top: 2px solid #000 ;

    body.dark & {
        color: $h2a;
        background-color: $dark;
        border-top: 1px solid #fff;
    }

    .final{
        color: #fff;
        font-size: 2.1rem;
        font-weight: 800;
        margin: 30px 0px 20px;

        body.dark & {
            color: $h2a;
        }
    }
}


.btn-wsp{
    position: fixed;
    width: 120px;
    height: 120px;
    line-height: 130px;
    bottom: 30px;
    right: 30px;
    background-color:#0dc310;
    color: rgb(255, 255, 255);
    border-radius: 60px;
    text-align: center;
    font-size: 25px;
    box-shadow: 0px 1px 6px rgb(0,0,0,3);
    z-index: 80;

    body.dark & {
        color: rgb(255, 255, 255);
    }

    i{
        font-size: 2.3em;
        body.dark & {
            color: rgb(255, 255, 255);
        }

        &:hover{
            text-decoration: none;
            transition: .9s;
            background-color:rgb(255, 255, 255);
            color: #0dc310;
            }
    }
}
