


/* Imagen Casa Vita  */


    .contenedor{
        position: relative;
        flex-direction: column;
        align-items: center;
        padding: 45px 0px;

        img{
            width: 100%;
            height: auto;
        } 
        .text{
            font-family: 'Lato', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            position: absolute;
            bottom: 10%;
            left: 50%;
            text-align: center;
            transform: translateX(-50%);
            color: rgb(199, 175, 39);
            background-color: none;
        }
    }

/* Seccion Turno */
.consultas{
    display: flex;
    justify-content: center;
    align-items: center;

        .turno{
            width: 250px;   
            height: 45px;
            animation: tp-rotate 2.0s infinite linear;
            border-radius: 12px 12px;
            background-color: rgb(8, 36, 68);
            box-shadow: 2px 2px 10px rgba(59, 59, 59, 0.5);

            &:hover{
                transition: .4s;
                background-color: #f3f2f2;
                
            }
            
    
            p{
                font-size: 1rem;
                color: #f3f2f2;
                font-family: 'Montserrat', sans-serif;
                font-weight: normal;
                &:hover{
                    color: rgb(8, 36, 68);
                }
            }
        }
    }


/* Seccion Areas */

    .cartas{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        display: block;
        padding: 12px;
        margin: 90px 0px 0px 0px;
        font-family: 'Montserrat', sans-serif;

        h2{
            @include H2a;
            body.dark & {
                color: $h2a;
            }
        }

        .container{
            padding: 20px;
            
            
            .cards{
                display: flex;
                flex-wrap: wrap;
                gap:20px;
                .card{
                    margin: 20px 0px;
                    border-radius: 30px;
                    border: 2px solid #2f2f2f;
                    text-align: center;

                    img {
                        width: 80%;
                        height: auto;
                        padding: 10px 0px 20px 0px;              
                    }

                    h3 {
                        font-size: 20px;
                        font-weight: 600;
                        padding: 18px 6px;
                        body.dark & {
                            color: $colora;
                        }
                    }
                        p {
                            font-size: 16px;
                            font-weight: 600;
                            padding: 4px 6px;
                            body.dark & {
                                color: $h2a;
                            }
                        }
                }
            }
        }
    }

/* Quienes Somos */

    .somos{

        flex-direction: column;
        justify-content: center;
        text-align: center;
        display: flex;
        padding: 12px;
        margin: 90px 0px 0px 0px;
        font-family: 'Montserrat', sans-serif;
        body.dark & {
            background-color: $dark;
        }

        h2{
            @include H2a;
            
            body.dark & {
                color: $h2a;
            }
        }

        .container{
            margin: 0 auto;

                .fila{
                    .user{
                        flex-wrap: wrap;
                        padding: 25px 0px;
                        


                        img{    
                            height: auto;
                            max-width: 200px;
                            transition: all .7s;
                            border-radius: 100%;
                            border: 1px solid rgb(0, 0, 0);
                            box-shadow: 4px 4px 10px rgba(59, 59, 59, 0.5);

                            body.dark & {
                                border: 2px solid rgb(212, 212, 212);
                            }
                        }
                        h3{
                            color: #0a0a0a;
                            font-size: 18px;
                            padding: 9px 0px;
                            body.dark & {
                                color: $colora;
                            }
                        }
                        h4{
                            padding: 4px 0px;
                            body.dark & {
                                color: $colora;
                            }
                        }
                    }
                }
            }
        }


    /* Staff */

    .staff{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        display: flex;
        padding: 12px;
        margin: 90px 0px 0px 0px;
        font-family: 'Montserrat', sans-serif;
        background-color: rgb(8, 36, 68);
        color: #fff;
        body.dark & {
            background-color: $dark;
        }

        h2{
            @include H2b;
            
            body.dark & {
                color: $h2a;
                background-color: $dark;
            }
        }

        .container{
            margin: 0 auto;
            .fila{
                .user{
                    flex-wrap: wrap;
                    padding: 25px 0px;
                    
                    img{    
                        height: auto;
                        max-width: 200px;
                        transition: all .7s;
                        border-radius: 100%;
                        border: 1px solid rgb(0, 0, 0);
                        box-shadow: 4px 4px 10px rgba(59, 59, 59, 0.5);

                        body.dark & {
                            border: 2px solid rgb(212, 212, 212);
                        }
                    }
                    h3{
                        font-size: 18px;
                        padding: 9px 0px;
                        body.dark & {
                            color: $colora;
                        }
                    }
                    h4{
                        padding: 4px 0px;
                        body.dark & {
                            color: $colora;
                        }
                    }
                }
            }
        }
    }
    
    /* Ubicacion */

    .ubicacion{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 90px 0px 0px 0px;
        padding: 12px;

        h2{
            @include H2a;

            body.dark & {
                color: $h2a;
            }
        }

    }

