@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital@1&display=swap');

    



.perfil{
    margin: 3.6rem 0px 0px;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    body.dark & {
        color: $h2a;
        background-color: $dark;
    }


    .usuario{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: 30px 0px ;

        img{
            max-width: 220px;
            border-radius: 100%;
            
            body.dark & {
                border: 3px solid #fff;
            }
        }
        h2{
            @include h2Perfil;
        }
        h3{
            font-size: 18px;
            padding: 6px 0px 0px;
            
        }
        
    }    
    .texto{
        font-family: 'Montserrat', sans-serif;
        display: block;
        
        transition: background-color 0.3s, color 0.3s;
        body.dark & {
            background-color: $dark;
        }
    
        ul{
            
            font-size: 18px;
            li{
                padding: 22px 0px 18px 8px;
                color: rgb(0, 0, 0);

    
                body.dark &{
                    color: #fff;
                }
            }
        }
        
    }
}


.perfil2{
    margin: 3.6rem 0px 0px;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    body.dark & {
        color: $h2a;
        background-color: $dark;
    }


    .usuario2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: 30px 0px ;

        img{
            max-width: 220px;
            border-radius: 100%;
            
            body.dark & {
                border: 3px solid #fff;
            }
        }
        h2{
            @include h2Perfil;
        }
        h3{
            display: block;
            font-size: 18px;
            padding: 6px 8px 0px;
            
        }
        
    }    
    .texto2{
        font-family: 'Montserrat', sans-serif;
        display: block;
        
        transition: background-color 0.3s, color 0.3s;
        body.dark & {
            background-color: $dark;
        }
    
        ul{
            
            font-size: 18px;
            li{
                padding: 22px 0px 18px 8px;
                color: rgb(0, 0, 0);

    
                body.dark &{
                    color: #fff;
                }
            }
        }
        
    }
}



.texto3{
    font-family: 'Montserrat', sans-serif;
    display: block;
    padding: 0px 8px ;
    transition: background-color 0.3s, color 0.3s;
    body.dark & {
        background-color: $dark;
    }

    h4{
        color: #020202;
        margin: 18px 0px;
        
        body.dark &{
            color: #fff;
        }
    }
    ul{
        
        font-size: 18px;
        li{
            line-height: 30px;
            padding: 22px 0px 18px 8px;
            color: rgb(0, 0, 0);


            body.dark &{
                color: #fff;
            }
        }
    }
    
}


@media only screen and (min-width:800px) {
}