@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital@1&display=swap');


.perfil{
    background-color: rgb(232, 241, 248);
    max-width: 1200px;
    padding: 86px 0px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s, color 0.3s;

    body.dark & {
        color: $h2a;
        background-color: $dark;
    }


    .usuario{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
        
        
        img{
            border-radius: 100%;
            margin: auto;
            max-width: 400px;
            margin: 4.6rem 0px 2.5rem 0px;

            body.dark & {
                border: 3px solid #fff;
            }
        }
        h2{
            font-size: 2rem;
            font-weight: 600;
            padding: 10px;
        }
        h3{
            font-size: 2rem;
            font-weight: 600;
        }
    }    
    .texto{
        display: block;
        padding: 30px 40px;

        p{
            margin: 50px;
            font-size: 1rem;
            color: black;
            font-weight: 300;

            body.dark & {
            color: #fff;
            }
        }
    }
}