@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital@1&display=swap');

    



.perfil{
    padding: 100px 0px;
    background-color: rgb(232, 241, 248);
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s, color 0.3s;

    body.dark & {
        color: $h2a;
        background-color: $dark;
    }


    .usuario{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: auto;
        
        
        img{
            border-radius: 100%;
            margin: auto;
            max-width: 400px;
            margin: 4.6rem 0px 2.5rem 0px;
            

            body.dark & {
                border: 3px solid #fff;
            }
        }
        h2{
            @include h2Perfil;
        }
        h3{
            font-size: 2.6rem;
            padding: 6px 0px 0px;
            
        }
        
    }    
}

.texto{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    background-color: rgb(232, 241, 248);
    padding: 20px 0px 50px;
    transition: background-color 0.3s, color 0.3s;
    body.dark & {
        background-color: $dark;
    }

    ul{
        li{
            color: rgb(0, 0, 0);
            font-weight: 300;
            margin: 30px;
            font-size: 28px;
            line-height: 70px;

            body.dark &{
                color: #fff;
            }
        }
    }
    
}



.perfil2{
    padding: 100px 0px;
    background-color: rgb(232, 241, 248);
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s, color 0.3s;

    body.dark & {
        color: $h2a;
        background-color: $dark;
    }


    .usuario2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        
        
        img{
            border-radius: 100%;
            max-width: 400px;
            margin: 4.6rem 0px 2.5rem 0px;
            

            body.dark & {
                border: 3px solid #fff;
            }
        }
        h2{
            @include h2Perfil;
        }
        h3{
            font-size: 2.4rem;
            text-align: center;
            padding: 6px 6px 0px;
            
        }
        
    }    
}

.texto2{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    background-color: rgb(232, 241, 248);
    padding: 20px 0px 52px;
    transition: background-color 0.3s, color 0.3s;
    body.dark & {
        background-color: $dark;
    }

    

    ul{
        li{
            color: rgb(0, 0, 0);
            font-weight: 300;
            margin: 35px;
            font-size: 30px;
            line-height: 70px;

            body.dark &{
                color: #fff;
            }
        }
    }
    
}

.texto3{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    background-color: rgb(232, 241, 248);
    padding: 20px 0px 52px;
    transition: background-color 0.3s, color 0.3s;
    body.dark & {
        background-color: $dark;
    }

    ul{
        li{
            color: rgb(0, 0, 0);
            font-weight: 300;
            margin: 35px;
            font-size: 45px;
            line-height: 70px;

            body.dark &{
                color: #fff;
            }
        }
    }
    
}

.texto4{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    background-color: rgb(232, 241, 248);
    padding: 20px 0px 52px;
    transition: background-color 0.3s, color 0.3s;
    body.dark & {
        background-color: $dark;
    }


    ul{
        h4{
            font-size: 20px;
            margin: 0px 10px 0px 20px;
            body.dark &{
                color: #fff;
            }
        }
        li{
            color: rgb(0, 0, 0);
            font-weight: 300;
            margin: 35px;
            font-size: 20px;
            line-height: 70px;

            body.dark &{
                color: #fff;
            }
        }
    }
    
}

