

        $dark:#161b22;
        $oscuro: #020800;
        $h2a:rgb(88, 166, 255);
        $colora: #f3ebeb;
        


        /* Titulos H2 */

        @mixin H2a {
                text-align: center;
                margin: 50px 0px 35px 0px;
                font-size: 1.8rem;
                font-family: 'Lato', sans-serif;
                color: #084c87;
                font-weight: bold;
        }

        @mixin h2a {
                text-align: center;
                margin: 50px 0px 35px 0px;
                font-size: 2.2rem;
                font-family: 'Lato', sans-serif;
                color: #084c87;
                font-weight: bold;
        } /* titulo responsive */

        @mixin H2b {
                ttext-align: center;
                margin: 50px 0px 35px 0px;
                font-size: 1.8rem;
                font-family: 'Lato', sans-serif;
                font-weight: 800;
                color: #fff;
                
        }

        @mixin h2b {
                ttext-align: center;
                margin: 50px 0px 35px 0px;
                font-size: 2.2rem;
                font-family: 'Lato', sans-serif;
                font-weight: 800;
                color: #fff;
                
        } /* titulo responsive */

        
        @mixin h2Perfil{
                font-size:20px;
                padding: 12px 0px;
                
        }

