    /* Titulos H2 */

    @mixin H2a {
        text-align: center;
        margin:3rem;
        font-size: 4rem;
        font-family: 'Lato', sans-serif;
        color: #084c87;
        font-weight:800;
    }

    @mixin H2b {
        text-align: center;
        margin:3rem; 
        font-size: 4rem;
        font-family: 'Lato', sans-serif;
        color: #fff;
        font-weight: 800;
    }

    @mixin staff {
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            letter-spacing: 2px;
    }

    @mixin imagen {
            transition: all .7s;
            margin: auto;
            border-radius: 100%;
            max-width: 400px;
    }
    
