
    /* version Mobile*/
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital@1&display=swap');
    @import '_vars';
    @import '_perfiles';
    /* NAVEGADOR */
    @import '_menu';
    /*CAROUSEL */
    @import '_carousel';
    /* INDEX*/
    @import '_index';
    /* FOOTER */
    @import '_footer';

    *{ 
        box-sizing: border-box; 
        padding: 0px;
        margin:0px;
    }
    
    
    body{
        height: 100vh;
        scroll-behavior:smooth;
        width: 100%;
        transition: background-color 0.3s, color 0.3s;
        &.dark{
            background-color: $dark;
        }
    }
    


