/* version Mobile*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital@1&display=swap");
/* Titulos H2 */
/* titulo responsive */
/* titulo responsive */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital@1&display=swap");
.perfil {
  margin: 3.6rem 0px 0px;
  padding: 12px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
body.dark .perfil {
  color: rgb(88, 166, 255);
  background-color: #161b22;
}
.perfil .usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}
.perfil .usuario img {
  max-width: 220px;
  border-radius: 100%;
}
body.dark .perfil .usuario img {
  border: 3px solid #fff;
}
.perfil .usuario h2 {
  font-size: 20px;
  padding: 12px 0px;
  margin: 8px 0px;
}
.perfil .usuario h3 {
  font-size: 18px;
  margin: 6px 0px 20px;
}
.perfil .texto {
  font-family: "Montserrat", sans-serif;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}
body.dark .perfil .texto {
  background-color: #161b22;
}
.perfil .texto .espe {
  font-size: 18px;
  margin: 0px 8px 8px;
}
.perfil .texto ul {
  font-size: 18px;
}
.perfil .texto ul li {
  padding: 22px 0px 18px 8px;
  color: rgb(0, 0, 0);
}
body.dark .perfil .texto ul li {
  color: #fff;
}

.perfil2 {
  margin: 3.6rem 0px 0px;
  padding: 12px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
body.dark .perfil2 {
  color: rgb(88, 166, 255);
  background-color: #161b22;
}
.perfil2 .usuario2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}
.perfil2 .usuario2 img {
  max-width: 220px;
  border-radius: 100%;
}
body.dark .perfil2 .usuario2 img {
  border: 3px solid #fff;
}
.perfil2 .usuario2 h2 {
  font-size: 20px;
  padding: 12px 0px;
  margin: 8px 0px;
}
.perfil2 .usuario2 h3 {
  display: block;
  font-size: 18px;
  margin: 6px 8px 0px;
}
.perfil2 .texto2 {
  font-family: "Montserrat", sans-serif;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}
body.dark .perfil2 .texto2 {
  background-color: #161b22;
}
.perfil2 .texto2 .espe {
  font-size: 18px;
  margin: 0px 8px 8px;
}
.perfil2 .texto2 ul {
  font-size: 18px;
}
.perfil2 .texto2 ul li {
  padding: 22px 0px 18px 8px;
  color: rgb(0, 0, 0);
}
body.dark .perfil2 .texto2 ul li {
  color: #fff;
}

.texto3 {
  font-family: "Montserrat", sans-serif;
  display: block;
  padding: 0px 8px;
  transition: background-color 0.3s, color 0.3s;
}
body.dark .texto3 {
  background-color: #161b22;
}
.texto3 h4 {
  color: #020202;
  margin: 18px 0px;
}
body.dark .texto3 h4 {
  color: #fff;
}
.texto3 ul {
  font-size: 18px;
}
.texto3 ul li {
  line-height: 30px;
  padding: 22px 0px 18px 8px;
  color: rgb(0, 0, 0);
}
body.dark .texto3 ul li {
  color: #fff;
}

@media only screen and (min-width: 800px) {
  .perfil {
    display: flex;
    align-items: center;
  }
  .perfil .usuario {
    flex: 1;
    text-align: center;
  }
  .perfil .usuario img {
    max-width: 300px;
    margin: 20px 0px;
  }
  .texto {
    flex: 1;
    height: 300px;
  }
  .perfil2 {
    display: flex;
    align-items: center;
  }
  .perfil2 .usuario2 {
    flex: 1;
    text-align: center;
  }
  .perfil2 .usuario2 img {
    max-width: 300px;
    margin: 20px 0px;
  }
  .texto2 {
    flex: 1;
    height: 300px;
    padding: 0px 20px;
  }
}
/* HEADER */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}
body.dark {
  background-color: #161b22;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}

.contenedor-header {
  background-color: rgb(8, 36, 68);
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  /* Navegador */
}
.contenedor-header header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contenedor-header nav {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 18px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(27, 32, 44, 0.7);
  backface-visibility: hidden;
  transition: 0.7s;
}
body.dark .contenedor-header nav {
  background-color: #020800;
  box-shadow: #c1c1c2;
}
.contenedor-header nav img {
  height: 100%;
  width: 100px;
}

.burger {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  padding: 0;
  width: 80px;
  height: 85px;
  font-size: 25px;
  color: #f9f9f9;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.burger i:last-child {
  display: none;
}

body.open .burger i:first-child {
  display: none;
}

body.open .burger i:last-child {
  display: block;
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(27, 32, 44, 0.3);
  visibility: hidden;
  opacity: 0;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  transition: 0.7s;
}

body.open .overlay {
  visibility: visible;
  opacity: 1;
}

nav button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

aside {
  position: fixed;
  z-index: 2;
  top: 0;
  right: -260px;
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 100%;
  background: #272e3c;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: 0.7s;
}
body.dark aside {
  background-color: #03070e;
}

aside ul {
  list-style: none;
  margin: 35px 0px;
  padding: 20px 6px;
  display: block;
}

body.open aside {
  right: 0;
}

aside li {
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  padding: 20px 8px;
}
aside li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: border-bottom;
  padding: 24px 0px;
  transition: all;
}
aside li a:hover {
  color: #d6b007;
}

/* submenu estilos*/
.submenu-content {
  display: none;
  position: absolute;
  width: auto;
  background-color: #272e3c;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.9s;
}
body.dark .submenu-content {
  background-color: #040911;
}

.submenu-toggle.active .submenu-content {
  display: block;
}

.submenu-content li {
  display: block;
}

/* Estilos para el hover */
/* modo oscuro */
.oscuro {
  cursor: pointer;
  margin: 20px 6px;
  position: relative;
  display: flex;
  border-radius: 1000px;
  background-color: none;
  border: none;
  box-shadow: #c1c1c2;
  outline: none;
  width: 70px;
}
.oscuro::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  background: #f9f9f9;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.9s;
}
.oscuro.active {
  color: rgba(0, 0, 0, 0);
}
.oscuro.active::after {
  right: 0;
  left: unset;
}
.oscuro span {
  width: 40px;
  height: 25px;
  display: block;
  background: none;
  color: #f9f9f9;
}
.oscuro span i {
  justify-content: space-between;
  font-size: 16px;
  padding: 4px 12px;
}

@media only screen and (min-width: 1108px) {
  .contenedor-header nav {
    height: 90px;
    flex-direction: row;
  }
  .contenedor-header nav img {
    height: 100px;
    width: 100%;
  }
  .burger {
    display: none;
  }
  aside {
    position: static;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    z-index: none;
    height: 0;
  }
  aside ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: -70px 0px 0px;
  }
  aside li {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 14px 0px 30px;
  }
  aside li a:hover {
    color: #d6b007;
    border-bottom: 2px solid;
  }
  .oscuro {
    left: 120px;
  }
  .submenu-content {
    display: none;
    top: 180%;
    backface-visibility: hidden;
    z-index: 0;
    transition: 0.9s;
    background: #273244;
  }
  .submenu-content li {
    display: block;
    margin: 0 auto;
  }
}
/*CAROUSEL */
.slider {
  display: flex;
  align-items: center;
  min-height: 80vh;
  max-width: 100%;
  gap: 40px;
  padding: 0px 4px;
}
.slider .swiper {
  width: 100%;
}
.slider .swiper-pagination-bullet,
.slider .swiper-pagination-bullet-active {
  background: rgb(8, 36, 68);
  width: 10px;
  height: 10px;
}
body.dark .slider .swiper-pagination-bullet,
body.dark .slider .swiper-pagination-bullet-active {
  background-color: #fff;
}
.slider .swiper-pagination {
  transform: scale(1.3);
}
.slider .swiper-slide {
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.slider .swiper-slide div {
  transition: 0.25s;
  opacity: 0;
}
.slider .swiper-slide-active div {
  opacity: 1;
}
.slider .swiper-slide--one {
  background: url("../Imagen/ellos.jpg") no-repeat 50% 50%/120% 100%;
}
.slider .swiper-slide--two {
  background: url("../Imagen/consultorio.jpg") no-repeat 50% 50%/120% 100%;
}
.slider .swiper-slide--three {
  background: url("../Imagen/gym.jpg") no-repeat 50% 50%/120% 100%;
}
.slider .swiper-slide--four {
  background: url("../Imagen/yoga3.jpg") no-repeat 50% 50%/120% 100%;
}
.slider .swiper-slide--five {
  background: url("../Imagen/consul2.jpg") no-repeat 50% 50%/120% 100%;
}
.slider .swiper-slide--six {
  background: url("../Imagen/yoga4.jpg") no-repeat 50% 50%/120% 100%;
}
.slider .swiper-3d .swiper-slide-shadow-left,
.slider .swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
.slider .swiper-button-prev,
.slider .swiper-button-next {
  display: none;
}

@media only screen and (min-width: 800px) {
  .slider {
    min-height: 120vh;
    margin: 0 auto;
    padding: 12px 0px;
  }
  .slider .swiper {
    width: 80%;
  }
  .slider .swiper-slide {
    height: 450px;
  }
  .slider .swiper-button-prev,
  .slider .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
  }
  .slider .swiper-button-prev:hover,
  .slider .swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #f3f2f2;
  }
  .slider .swiper-button-prev::before,
  .slider .swiper-button-next::before {
    display: none;
  }
}
/* INDEX*/
.contenedor::-webkit-scrollbar {
  color: #0a0a0a;
}

/* Imagen Casa Vita      */
.contenedor {
  position: relative;
  flex-direction: column;
  padding: 80px 0px 20px;
  /* img:nth-child(2) {
      position: absolute;
      align-items: center;
      top: 50px;
      left: 0;
      z-index: 1;
      width: 100%;
      height: auto; 
  }*/
}
.contenedor img {
  width: 100%;
  height: 100%;
}

.text2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  color: rgb(8, 36, 68);
  display: grid;
  grid-template-columns: repeat(3, 6fr);
  margin: 20px 0px 35px;
  padding: 0px 12px;
}
body.dark .text2 {
  color: #fff;
}

.text {
  display: none;
}

/* Seccion Turno */
.consultas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.consultas .turno {
  width: 250px;
  height: 45px;
  animation: tp-rotate 2s infinite linear;
  border-radius: 12px 12px;
  background-color: rgb(8, 36, 68);
  box-shadow: 2px 2px 10px rgba(59, 59, 59, 0.5);
}
.consultas .turno:hover {
  transition: 0.4s;
  background-color: #f3f2f2;
}
.consultas .turno p {
  font-size: 1rem;
  color: #f3f2f2;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
.consultas .turno p:hover {
  color: rgb(8, 36, 68);
}

/* Seccion Areas */
.cartas {
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin: 90px 0px 0px 0px;
  font-family: "Montserrat", sans-serif;
}
.cartas h1 {
  text-align: center;
  margin: 50px 0px 35px 0px;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  color: #084c87;
  font-weight: 900;
}
body.dark .cartas h1 {
  color: rgb(88, 166, 255);
}
.cartas .container {
  padding: 6px 12px;
  justify-content: center;
}
.cartas .container .cards {
  display: block;
  margin: 30px 0px;
}
.cartas .container .cards .card {
  border-radius: 25px;
  border: 2px solid #2f2f2f;
  text-align: center;
}
body.dark .cartas .container .cards .card {
  border: 2px solid #f1f0f0;
}
.cartas .container .cards .card img {
  max-width: 400px;
  padding: 20px;
}
.cartas .container .cards .card h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 18px 6px;
}
body.dark .cartas .container .cards .card h3 {
  color: #f3ebeb;
}

/* Quienes Somos */
.somos {
  display: block;
  text-align: center;
  padding: 12px;
  margin: 90px 0px 0px 0px;
  font-family: "Montserrat", sans-serif;
}
body.dark .somos {
  background-color: #161b22;
}
.somos h1 {
  text-align: center;
  margin: 50px 0px 35px 0px;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  color: #084c87;
  font-weight: 900;
}
body.dark .somos h1 {
  color: rgb(88, 166, 255);
}
.somos .container {
  justify-content: center;
  display: flex;
}
.somos .container .fila {
  display: block;
}
.somos .container .fila .user {
  padding: 20px 0px;
}
.somos .container .fila .user img {
  cursor: pointer;
  height: auto;
  max-width: 200px;
  transition: all 0.7s;
  border-radius: 100%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 4px 4px 10px rgba(59, 59, 59, 0.5);
}
body.dark .somos .container .fila .user img {
  border: 2px solid rgb(212, 212, 212);
}
.somos .container .fila .user h3 {
  color: #0a0a0a;
  font-size: 18px;
  padding: 9px 0px;
}
body.dark .somos .container .fila .user h3 {
  color: #f3ebeb;
}
.somos .container .fila .user h4 {
  padding: 4px 0px;
}
body.dark .somos .container .fila .user h4 {
  color: #f3ebeb;
}

/* Staff */
.staff {
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin: 90px 0px 0px 0px;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(8, 36, 68);
  color: #fff;
}
body.dark .staff {
  background-color: #161b22;
}
.staff h1 {
  ttext-align: center;
  margin: 50px 0px 35px 0px;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #fff;
}
body.dark .staff h1 {
  color: rgb(88, 166, 255);
  background-color: #161b22;
}
.staff .container {
  justify-content: center;
  display: flex;
}
.staff .container .fila {
  display: block;
}
.staff .container .fila .user {
  padding: 25px 0px;
}
.staff .container .fila .user img {
  height: auto;
  max-width: 200px;
  transition: all 0.7s;
  border-radius: 100%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 4px 4px 10px rgba(59, 59, 59, 0.5);
}
body.dark .staff .container .fila .user img {
  border: 2px solid rgb(212, 212, 212);
}
.staff .container .fila .user h3 {
  font-size: 18px;
  padding: 9px 0px;
}
body.dark .staff .container .fila .user h3 {
  color: #f3ebeb;
}
.staff .container .fila .user h4 {
  padding: 4px 0px;
}
body.dark .staff .container .fila .user h4 {
  color: #f3ebeb;
}

/* Ubicacion */
.ubicacion {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 90px 0px 0px 0px;
  padding: 12px;
}
.ubicacion h1 {
  text-align: center;
  margin: 50px 0px 35px 0px;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  color: #084c87;
  font-weight: 900;
}
body.dark .ubicacion h1 {
  color: rgb(88, 166, 255);
}

.formulario {
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin: 90px 0px 0px 0px;
  font-family: "Montserrat", sans-serif;
}
.formulario h1 {
  text-align: center;
  margin: 50px 0px 35px 0px;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  color: #084c87;
  font-weight: 900;
}
body.dark .formulario h1 {
  color: rgb(88, 166, 255);
}
.formulario .fila {
  display: flex;
  justify-content: center;
  margin: 30px 0px 0px;
}
.formulario .fila a {
  font-size: 16px;
  color: #0a0a0a;
}
body.dark .formulario .fila a {
  color: rgb(88, 166, 255);
}
.formulario .fila a input,
.formulario .fila a textarea {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 12px 0px;
  margin: 25px 0px;
  border: none;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #c7c2c2;
  background-color: #e4e3e3;
}
.formulario .fila a .captcha {
  margin: 9px 0px;
}
.formulario .fila a button {
  font-size: 1rem;
  display: block;
  margin: auto;
  cursor: pointer;
  width: 100%;
  background-color: rgb(8, 36, 68);
  color: #f1f0f0;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
}
.formulario .fila a button:hover {
  color: #0a0a0a;
  transition: 0.4s;
  background-color: #f3f2f2;
}

@media only screen and (min-width: 800px) {
  .contenedor {
    margin: 30px 0px;
    height: 100vh;
    background-image: url("../Imagen/1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contenedor img {
    display: none;
  }
  .text2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    color: rgb(8, 36, 68);
  }
  .consultas {
    margin: 90px 0px;
  }
  .cartas h2 {
    text-align: center;
    margin: 50px 0px 35px 0px;
    font-size: 2.2rem;
    font-family: "Lato", sans-serif;
    color: #084c87;
    font-weight: 900;
  }
  .cartas .container {
    padding: 0px;
  }
  .cartas .container .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0px 30px;
    gap: 40px 20px;
  }
  .cartas .container .cards .card img {
    width: 100%;
    height: 270px;
  }
  .somos h2 {
    text-align: center;
    margin: 50px 0px 35px 0px;
    font-size: 2.2rem;
    font-family: "Lato", sans-serif;
    color: #084c87;
    font-weight: 900;
  }
  .somos .container .fila {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .somos .container .fila .user {
    margin: 0 auto;
    padding: 25px 60px;
  }
  .somos .container .fila .user img {
    max-width: 240px;
  }
  .somos .container .fila .user h3 {
    color: #0a0a0a;
    font-size: 20px;
  }
  .somos .container .fila .user h4 {
    font-size: 16px;
    padding: 4px 4px;
  }
  .staff h2 {
    ttext-align: center;
    margin: 50px 0px 35px 0px;
    font-size: 2.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #fff;
  }
  .staff .container .fila {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .staff .container .fila .user {
    margin: 0 auto;
    padding: 30px 60px;
  }
  .staff .container .fila .user img {
    max-width: 220px;
  }
  .staff .container .fila .user h3 {
    font-size: 20px;
  }
  .staff .container .fila .user h4 {
    font-size: 16px;
    padding: 4px 4px;
  }
  .ubicacion .maps {
    padding: 20px 0px;
  }
  .ubicacion .maps iframe {
    height: 350px;
  }
  .formulario .fila {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
}
/* FOOTER */
footer {
  margin: 90px 0px 0px;
  padding: 12px;
  background-color: rgb(8, 36, 68);
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
body.dark footer {
  background-color: #161b22;
  border-top: 1px solid rgba(184, 181, 181, 0.8);
}

.pie-pagina .grupo-1 {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.pie-pagina .grupo-1 ul {
  margin: 20px 0px;
}
.pie-pagina .grupo-1 ul li {
  padding: 12px 0px;
}
.pie-pagina .grupo-1 ul li a {
  font-size: 14px;
  color: #fff;
}
.pie-pagina .grupo-1 ul i {
  color: #fff;
  font-size: 16px;
  padding: 0 8px;
}

.grupo-2 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin: 18px 0px;
  padding: 18px 0px;
  border-top: 2px solid #fff;
}
body.dark .grupo-2 {
  background-color: #161b22;
  border-top: 1px solid rgba(184, 181, 181, 0.8);
}

.btn-wsp {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 60px;
  bottom: 30px;
  right: 25px;
  background-color: rgba(13, 195, 16, 0.9098039216);
  color: rgb(255, 255, 255);
  border-radius: 30px;
  text-align: center;
  font-size: 25px;
  box-shadow: 0px 1px 6px rgb(0, 0, 0);
  z-index: 80;
}
.btn-wsp i {
  font-size: 1.4em;
  padding: 2px 10px;
}
.btn-wsp:hover {
  text-decoration: none;
  transition: 0.9s;
  background-color: white;
  color: rgba(13, 195, 16, 0.9098039216);
}

@media only screen and (min-width: 800px) {
  .pie-pagina .grupo-1 {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    margin: 10px 20px;
  }
  .pie-pagina .grupo-1 ul li a {
    font-size: 16px;
  }
  .grupo-2 {
    text-align: left;
    margin: 25px 0px;
    padding: 25px 0px 8px;
    text-align: center;
  }
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}
body.dark {
  background-color: #161b22;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}/*# sourceMappingURL=estilos.css.map */