
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital@1&display=swap');


    *{ 
        box-sizing: border-box; 
        padding: 0px;
        margin:0px;
    }


    body{
        height: 100vh;
        scroll-behavior:smooth;
        width: 100%;
    }

    header{
        background-color: rgb(8, 36, 68);
        position: fixed;
        z-index: 99;
        top:0;
        width: 100%;

    }


    /* Navegador */
        nav {
            position: sticky;
            z-index: 1;
            top: 0;
            width: 100%;
            height: 100px;
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgb(27 32 44 / 70%);
            -webkit-backdrop-filter: blur(5px);
            -moz-backdrop-filter: blur(5px);
            -ms-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            backface-visibility: hidden;
            transform: translateZ(0px);
            transition: 0.7s;
        }
        
        nav img {
            height: 90px;
        }
        
        .burger {
            position: fixed;
            z-index: 3;
            top: 0;
            right: 0;
            display: grid;
            place-items: center;
            padding: 0;
            width: 90px;
            height: 100px;
            font-size: 2.2rem;
            color: #f9f9f9;
            background: transparent;
            border: 0;
            cursor: pointer;
        }
        
        .burger i:last-child {
            display: none;
        }
        
        body.open .burger i:first-child {
            display: none;
        }
        
        body.open .burger i:last-child {
            display: block;
        }
        
        .overlay {
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(27 32 44 / 30%);
            visibility: hidden;
            opacity: 0;
            backdrop-filter: blur(6px);
            transition: 0.7s;
        }
        
        body.open .overlay {
            visibility: visible;
            opacity: 1;
        }


        nav button {
            background: transparent;
            border: 0;
            cursor: pointer;
        }
        
        
        aside {
            position: fixed;
            z-index: 2;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            width: 400px;
            height: 100%;
            padding: 12px 16px 14px 24px;
            background: #272e3c;
            box-shadow: 0 0 20px rgb(0 0 0 / 70%);
            translate: 100% 0;
            transition: 0.3s;
            
        }
        
        aside ul{
            list-style: none;
            margin: 50px 0px;
        }
        body.open aside {
            translate: 0;
        }
        
        aside li {
            display: flex;
            align-items: center;
            padding: 20px 0px;
            margin: 30px 0px 12px;
            font-size: 2rem;
            font-family: 'Montserrat', sans-serif;
        }

 /* submenu estilos */

    #submenu {
        display: none;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        background-color: #272e3c;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        
    }

    #submenu.active {
        display: block;
    }


    .has-submenu {
        position: relative;
    }
    
    .has-submenu > ul {
        transition: 0.3s ;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #272e3c;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .has-submenu:hover > ul {
        display: block;
    }
    
    .has-submenu ul li {
        padding: 12px 3px;
        text-align: center;
    }

    a{
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

    a:hover{
        transition: 0.9s;
        color: #d6b007;
    }

    /* Titulos H2 */

    h2{
        text-align: center;
        margin:4rem 0px;
        font-size: 3.6rem;
        font-family: 'Lato', sans-serif;
        color: #084c87;
        font-style: italic;
    }

    /* Titulos h3 */

    h3{
        font-family: 'Lato', sans-serif;
        margin-bottom: 20px;
    }



    .turno{
        text-align: center;
        background-color: #e9dede;
        margin-bottom: 30px;
    }

    .turno p{
        font-size: 2rem;
        padding: 2rem;
        color: #005baa;
        font-family: 'Lato', sans-serif;
    }

    .turno i{
        font-size: 2rem;
    }

    .contenedor{
        position: relative;
        flex-direction: column;
        align-items: center;
    }

    .contenedor img{
        width: 100%;
        height: 100%;
        
    }

    .texto {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8rem;
        position: absolute;
        bottom: 7%;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        color: #d6b007;
    }


    /* Cartas de Areas */

        .cartas{
            padding: 20px;
        }

        .cartas .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            gap:20px;
        }

        .card {
            width: 100%;
            max-width: 650px;
            margin: 20px;
            padding: 30px;
            border-radius: 30px;
            border: 2px solid #2f2f2f;
            text-align: center;
        }
        
        .card img {
            width: 100%;
            height: auto;
            margin: 10px 0px 20px 0px;
        }
        
        .card h3 {
            font-size: 2.6rem;
        }

        .card p {
            font-size: 2rem;
            font-family: 'Montserrat', sans-serif;
        }
        



    /* Somos */




    /* Staff */

    .staff{
        padding: 20px;
        background-color: rgb(8, 36, 68);
        color: #fff;
    }

    .staff h2{
        color: #fff;
    }

    .staff .container {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        letter-spacing: 2px;
    }

    .staff .container .fila{
        text-align: center;
        justify-content: center;
        padding: 20px;
        margin: auto;
    }

    .staff .container .fila .user{
        margin:60px;
    }

    .staff img{
        border: 2px solid rgb(255, 255, 255);
        transition: all .7s;
        margin: auto;
        border-radius: 100%;
        max-width: 400px;
    }

    .staff  img:hover{
        transform: scale(1.1);
        border-color: #e94c4c;
    }

    h3{
        color: #fff;
        text-align: center;
        padding: 8px;
    }

    .staff p{
        text-align: center;
        display: none;
    }




    /* Ubicacion */

    .ubicacion{
        padding: 20px;
    }

    .ubicacion .contenedor {
        justify-content: center;
        flex-direction: column;
    }

    .ubicacion .contenedor iframe{
        padding: 8px 8px;
    }




    /* Carousel */

    .carousel{
        position: relative;
        display: flex;
        align-items: center;
        gap: 50px;
        padding: 20px 50px;
        min-height: 40vh;
        margin: 0 auto;
        
    }

    .carousel a {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: #717171;
        font-weight: 500;
        background: #fff;
        border-radius: 3.125rem;
        margin: 0 auto;
        padding: 6px 26px;
        font-size: 0.9rem;
        transition: 0.3s ease-in-out;
    }

    .swiper {
        width: 100%;
    }

    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active {
        background: #fff;
    }

    .swiper-pagination {
        bottom: 34px !;
        transform: scale(1.3);
    }

    .swiper-slide {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        padding: 0 0 80px;
        filter: grayscale(0.6);
    }



    .swiper-slide a:hover {
        color: #005baa;
    }

    .swiper-slide div {
        transition: 0.25s;
        opacity: 0;
    }

    .swiper-slide-active div {
        opacity: 1;
    }

    .swiper-slide--one {
        background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("Imagen/vita.png") no-repeat 50% 50% / cover;
    }

    .swiper-slide--two {
        background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("Imagen/3.png") no-repeat 50% 50% / cover;
    }

    .swiper-slide--three {
        background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("Imagen/1.png") no-repeat 50% 50% / cover;
    }

    .swiper-slide--four {
        background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("Imagen/psicologia.png") no-repeat 50% 50% / cover;
    }

    .swiper-slide--five {
        background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("Imagen/vita.png") no-repeat 50% 50% / cover;
    }

    .swiper-3d .swiper-slide-shadow-left,
    .swiper-3d .swiper-slide-shadow-right {
        background-image: none;
    }

    /* fin del carousek */

    footer{
        background-color: rgb(8, 36, 68);
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 30px 0px;
        height: 30%;
    }

    .contacto a {
        padding: 8px;
        color: #fff;
        font-size: 1.9rem;


        &:hover{
            transition: .6s;
            color:rgb(241,31,24);
            cursor: pointer;
        }
    }

    .contacto li{
        margin: 20px;
    }

    .contacto i{
        color: #fff;
        height: 30px;
        margin: 0px 0px 20px 0px;
        line-height: 10px;
        font-size: 2.1em;

    }


    .grupo-2{
        color: #fff;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 8px;
        padding: 22px;
        border-top: 2px solid #000 ;
    }


    /* whatsapp*/

    .btn-wsp{
        position: fixed;
        width: 100px;
        height: 100px;
        line-height: 110px;
        bottom: 30px;
        right: 30px;
        background-color:#0dc310;
        color: rgb(255, 255, 255);
        border-radius: 60px;
        text-align: center;
        font-size: 25px;
        box-shadow: 0px 1px 6px rgb(0,0,0,3);
        z-index: 80;
                
    }

    .btn-wsp i{
            font-size: 2.2em;

            &:hover{
                text-decoration: none;
                transition: .9s;
                background-color:rgb(255, 255, 255);
                color: #0dc310;
                }
        
        }



